name: Build Enzo Mod
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Gradle
        run: |
          # Force the robot to use a stable version (8.10.2) instead of 9.2
          gradle wrapper --gradle-version 8.10.2
          chmod +x gradlew
          
          # Start the actual build
          ./gradlew build

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: EnzoModKit-Jar
          path: build/libs/*.jar
          
