name: Build Mod
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: 8.10.2
        # This automatically "installs" the correct Gradle version for the robot

      - name: Build with Gradle
        run: gradle build --no-daemon
        # Now we use the standard "gradle" command because the step above fixed the version

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: EnzoModKit-JAR
          path: build/libs/*.jar
          
